{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ dog_patient.name }} Details</title>
  <link rel="stylesheet" href="{% static 'search_results.css' %}">
</head>
<body>
  {% include 'partials/nav.html'%}
  <h1>{{ dog_patient.name }} Details</h1>
  <table>
    <tr>
      <th>Registration No.</th>
      <td>{{ dog_patient.registration_no }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ dog_patient.name }}</td>
    </tr>
    <tr>
      <th>Breed</th>
      <td>{{ dog_patient.breed }}</td>
    </tr>
    <tr>
      <th>Species</th>
      <td>{{ dog_patient.species }}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ dog_patient.age }}</td>
    </tr>
    <tr>
      <th>Weight</th>
      <td>{{ dog_patient.weight }}</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>{{ dog_patient.get_gender_display }}</td>
    </tr>
    <tr>
      <th>Owner Name</th>
      <td>{{ dog_patient.owner_name }}</td>
    </tr>
    <tr>
      <th>Owner Phone</th>
      <td>{{ dog_patient.owner_phone }}</td>
    </tr>
  </table>

  <h2>Blood Report</h2>
    <table>
      <tr>
        <th>Blood Type</th>
        <td>{{ blood_report.blood_type }}</td>
      </tr>
      <tr>
        <th>Hemoglobin Level</th>
        <td>{{ blood_report.hemoglobin_level }}</td>
      </tr>
      <tr>
        <th>Thyroid</th>
        <td>{{ blood_report.Thyroid }}</td>
      </tr>
      <tr>
        <th>LFT</th>
        <td>{{ blood_report.LFT }}</td>
      </tr>
      <tr>
        <th>Lipid Profile</th>
        <td>{{ blood_report.Lipid_Profile }}</td>
      </tr>
      <tr>
        <th>KFT</th>
        <td>{{ blood_report.KFT }}</td>
      </tr>
      <tr>
        <th>Urine Culture</th>
        <td>{{ blood_report.urine_cultune }}</td>
      </tr>
      <tr>
        <th>Antibiotic Sensitivity Test</th>
        <td>{{ blood_report.Anbiotic_Sensitivity_Test }}</td>
      </tr>
      <tr>
        <th>Glucose</th>
        <td>{{ blood_report.Glucose }}</td>
      </tr>
      <tr>
        <th>Skin Culture</th>
        <td>{{ blood_report.Skin_CULTURE }}</td>
      </tr>
      <tr>
        <th>Stool Test</th>
        <td>{{ blood_report.STOOL_TEST }}</td>
      </tr>
      <tr>
        <th>Physical Examination of Urine</th>
        <td>{{ blood_report.PHYSICAL_EXAMINATION_OF_URINE }}</td>
      </tr>
      <tr>
        <th>Pancreatic Enzymes</
